Design/Tutorials/EDQ-ItemDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:tns="http://itemdetailservice.services.secondary.tru.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://itemdetailservice.services.secondary.tru.com">

	<wsdl:types>

		<xsd:schema elementFormDefault="qualified" targetNamespace="http://itemdetailservice.services.secondary.tru.com">


			<xsd:element name="fetchItemDetailsInParameter" type="tns:fetchItemDetailsInParameterType">

			</xsd:element>

			<xsd:element name="fetchItemDetailsOutParameter" type="tns:fetchItemDetailsOutParameterType">

			</xsd:element>


			<xsd:complexType name="fetchItemDetailsInParameterType">

				<xsd:sequence>
				
					<xsd:element name="opCode" nillable="false" type="xsd:string"/>

					<xsd:element name="itemId" nillable="false" type="tns:itemIdType"/>
					
					<xsd:element minOccurs="0" name="attributeIdList" nillable="true" type="tns:attributeIdList"/>
						
					<xsd:element minOccurs="0" name="attributeGroupList" nillable="true" type="tns:attributeGroupList"/>
					
				</xsd:sequence>
				
			</xsd:complexType>
			
			<xsd:complexType name="attributeIdList">

				<xsd:sequence>

					<xsd:element maxOccurs="unbounded" name="attributeId" type="xsd:int"/>

				</xsd:sequence>

			</xsd:complexType>
						<xsd:complexType name="attributeGroupList">

				<xsd:sequence>

					<xsd:element maxOccurs="unbounded" name="attributeGroupId" type="xsd:int"/>

				</xsd:sequence>

			</xsd:complexType>


			<xsd:complexType name="fetchItemDetailsOutParameterType">

				<xsd:sequence>

					<xsd:element name="status" nillable="false" type="tns:statusType"/>

					<xsd:element minOccurs="0" name="item" nillable="true" type="tns:item"/>

					<xsd:element maxOccurs="unbounded" name="itemsList" nillable="true" type="tns:item"/>

				</xsd:sequence>

			</xsd:complexType>


			<xsd:complexType name="statusType">

				<xsd:sequence>

					<xsd:element name="indicator" type="xsd:string"/>

					<xsd:element name="message" type="tns:messageType"/>

				</xsd:sequence>

			</xsd:complexType>


			<xsd:complexType name="messageType">

				<xsd:sequence>

					<xsd:element name="messageCode" nillable="true" type="xsd:string"/>

					<xsd:element name="messageDesc" nillable="true" type="xsd:string"/>

				</xsd:sequence>

			</xsd:complexType>
			
			<xsd:attribute name="idValue">
			  <xsd:simpleType>
				<xsd:restriction base="xsd:string">
				</xsd:restriction>
			  </xsd:simpleType>
			</xsd:attribute>

			<xsd:attribute name="idType">
			  <xsd:simpleType>
				<xsd:restriction base="xsd:string">
					 <xsd:pattern value="SKN|UID"/>
				</xsd:restriction>
			  </xsd:simpleType>
			</xsd:attribute>
			
			<xsd:attribute name="id">
			  <xsd:simpleType>
				<xsd:restriction base="xsd:int">
				</xsd:restriction>
			  </xsd:simpleType>
			</xsd:attribute>
			
			<xsd:attribute name="value">
			  <xsd:simpleType>
				<xsd:restriction base="xsd:string">
				</xsd:restriction>
			  </xsd:simpleType>
			</xsd:attribute>
			
			<xsd:attribute name="name">
			  <xsd:simpleType>
				<xsd:restriction base="xsd:string">
				</xsd:restriction>
			  </xsd:simpleType>
			</xsd:attribute>
			
			<xsd:complexType name="item">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="attribute" type="tns:attribute"/>
				</xsd:sequence>
				<xsd:attribute ref="tns:idValue" use="required"/>
				<xsd:attribute ref="tns:idType" use="required"/>
			</xsd:complexType>
			
			<xsd:complexType name="attribute">
				<xsd:attribute ref ="tns:id" use="required"/>
				<xsd:attribute ref ="tns:value" use="required"/>
				<xsd:attribute ref ="tns:name" use="required"/>
			</xsd:complexType>
			
			<xsd:simpleType name="itemIdType">

				<xsd:restriction base="xsd:string">

					<xsd:maxLength value="20"/>

				</xsd:restriction>

			</xsd:simpleType>
			
		</xsd:schema>

	</wsdl:types>

	<wsdl:message name="fetchItemDetailsResponse">

		<wsdl:part element="tns:fetchItemDetailsOutParameter" name="out"/>

	</wsdl:message>


	<wsdl:message name="fetchItemDetailsRequest">

		<wsdl:part element="tns:fetchItemDetailsInParameter" name="in"/>

	</wsdl:message>

	<wsdl:portType name="ProductService">

		<wsdl:operation name="fetchItemDetails">

			<wsdl:input message="tns:fetchItemDetailsRequest" name="fetchItemDetailsRequest"/>

			<wsdl:output message="tns:fetchItemDetailsResponse" name="fetchItemDetailsResponse"/>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="ProductServiceSoapBinding" type="tns:ProductService">

		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="fetchItemDetails">

			<wsdlsoap:operation soapAction=""/>

			<wsdl:input name="fetchItemDetailsRequest">

				<wsdlsoap:body use="literal"/>

			</wsdl:input>

			<wsdl:output name="fetchItemDetailsResponse">

				<wsdlsoap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	
	<wsdl:service name="ProductService">

		<wsdl:port binding="tns:ProductServiceSoapBinding" name="ProductService">

			<wsdlsoap:address location="http://localhost:8080/EDQProductServiceWeb/services/ProductService"/>

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
